* {
/*border: red solid 1px;*/
}


/*---top boarder float---*/

h1, h2, h3{
    z-index: 1000;
    position: fixed;
    font-size: 11px;
    color: gray;
    font-family: 'Cutive Mono', monospace;
    font-weight: lighter;
    width: 200px;
}

h1{
    top: 1px;
}
h2{
    text-align: center;
    left: 45%;
    right: auto;
    top: -1px;
}

h3{
    text-align: right;
    right: 20px;
    top: -3px;
}

/*---body--*/
p{
    width:250px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'crimson text', serif;
}

/*---topic--*/
.toys{
    color: rgb(198,164,243);
    font-weight: bold;
    cursor: -webkit-grab;
}
.grandparents{
    color: rgb(168,152,152);
    font-weight: bold;
    cursor: -webkit-grab;
}
.music{
    color: rgb(222,199,168);
    font-weight: bold;
    cursor: -webkit-grab;
}
.food{
    color: rgb(225,159,150);
    font-weight: bold;
    cursor: -webkit-grab;
}
.bookmark{
    width: 160px;
    font-family: 'Cutive Mono', monospace;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.right{
    right: 20px;
}

/*---layout--*/

.shuyao{
    position: absolute;
    left: 40%;
    top: 240px;
    cursor: -webkit-grab;
}
.shuyao2{
    position: absolute;
    left: 45%;
    top: 280px;
    cursor: default;
}

.sarah{
    position: absolute;
    left: 15%;
    top: 720px;
    cursor: -webkit-grab;
}
.sarah2{
    position: absolute;
    left: 20%;
    top: 760px;
    cursor: default;
}

.kaitlyn{
    position: absolute;
    left: 70%;
    top: 600px;
    cursor: -webkit-grab;
}
.kaitlyn2{
    position: absolute;
    left: 75%;
    top: 640px;
    cursor: default;
}
.kaitlynpop{
    position: absolute;
    right: -10px;
    top: 590px;
    color: lightgray;
    display: none;
}
.kaitlynline{
    width: 31%;
    border-bottom: 2px solid lightgray;
    float: right;
    top: 630px;
}

.laura{
    position: absolute;
    left: 25%;
    top: 1220px;
    cursor: -webkit-grab;
}
.laura2{
    position: absolute;
    left: 30%;
    top: 1260px;
    cursor: default;
}
.img1{
    position: absolute;
    width: 500px;
    height: 300px;
    left: -135%;
    top: 75px;
    visibility: hidden;
}
span:hover + img{
    visibility: visible;
}

.ruth{
    position: absolute;
    left: 15%;
    top: 1620px;
    cursor: -webkit-grab;
}
.ruth2{
    position: absolute;
    left: 20%;
    top: 1660px;
    cursor: default;
}

.erin{
    position: absolute;
    left: 60%;
    top: 1720px;
    cursor: -webkit-grab;
}
.erin2{
    position: absolute;
    left: 65%;
    top: 1760px;
    cursor: default;
}